.container {
	max-width: 1440px;
	margin: 0 auto;
}

.btn {
	outline: none;
	border: 1px solid transparent;
	padding: 10px 30px;
	border-radius: 10px;
	font-weight: 600;
}

.btn--primary {
	background-color: var(--blue-primary);
	color: var(--neutral-1);
}

.btn--outline {
	color: var(--blue-primary);
	border-color: var(--blue-primary);
}
