*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--blue-primary);
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: var(--blue-dark);
}

ol,
ul {
	list-style: none;
}

hr {
	border: none;
	height: 1px;
}
