/* Header */
.header {
	padding: 20px 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	gap: 10px;
}
.header__link {
	padding: 8px 16px;
	color: var(--neutral-6);
}
