/* Header */
.header {
	padding: 20px 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	gap: 10px;
}
.header__link {
	padding: 8px 16px;
	color: var(--neutral-6);
}

/* Hero Section */
.hero {
	padding: 100px 0;
	background:
		linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
		url('../images/banner.jpg') no-repeat center;
	background-size: cover;
}

.hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__text {
	max-width: 850px;
	text-align: center;
}

.hero__title {
	color: var(--neutral-0);
	font-size: 4.8em;
	margin-bottom: 20px;
}

.hero__subtitle {
	font-size: 1.2rem;
	color: var(--neutral-0);
	opacity: 0.9;
	margin-bottom: 300px;
}

.hero__cta {
	padding: 16px 50px;
}

/* Speakers Section */

.speakers {
	padding: 50px 0;
}

.speakers__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	margin-top: 40px;
}

.speaker-card {
	border: 1px solid var(--border-color);
	border-radius: 10px;
	overflow: hidden;
}

.speaker-card__image {
	height: 350px;
	overflow: hidden;
}

.speaker-card__image img {
	width: 100%;
}

.speaker-card__details {
	padding: 24px;
}

.speaker-card__category {
	color: var(--blue-primary);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.75rem;
}

.speaker-card__name {
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--blue-dark);
	margin: 10px 0;
}

.speaker-card__role {
	font-size: 0.9rem;
	color: var(--neutral-6);
}
